@model ViewModels.ProductDetailViewModel
@{
    Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<div class="main-content">
    <div id="wrapper-site">
        <div id="content-wrapper">
            <div id="main">
                <div class="page-home">

                    <!-- breadcrumb -->
                    <nav class="breadcrumb-bg">
                        <div class="container no-index">
                            <div class="breadcrumb">
                                <ol>
                                    <li>
                                        <a href="#">
                                            <span>صفحه اصلی</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/product/list/@Model.Product.ProductGroup.UrlParam">
                                            <span>@Model.Product.ProductGroup.Title</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>@Model.Product.Title</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </nav>
                    <div class="container">
                        <div class="content">
                            <div class="row">
                                <div class="sidebar-3 sidebar-collection col-lg-3 col-md-4 col-sm-4">

                                    <!-- category menu -->
                                    <div class="sidebar-block">
                                        <div class="title-block">دسته بندی محصولات</div>
                                        <div class="block-content">
                                            @foreach (var category in Model.Categories)
                                            {
                                            <div class="cateTitle hasSubCategory open level1">
                                                @if (category.Child.Count() > 0)
                                                    {
                                                    <span class="arrow collapsed collapse-icons" data-toggle="collapse" data-target="#@category.Parent.Id" aria-expanded="false" role="status">
                                                        <i class="zmdi zmdi-minus"></i>
                                                        <i class="zmdi zmdi-plus"></i>
                                                    </span>
                                                    }
                                                <a class="cateItem" href="/product/list/@category.Parent.UrlParam">@category.Parent.Title </a>
                                                <div class="subCategory collapse" id="@category.Parent.Id" aria-expanded="true" role="status">
                                                    @foreach (var product in category.Child)
                                                        {
                                                        <div class="cateTitle">
                                                            <a href="/product/@product.UrlParam" class="cateItem">@product.Title  </a>
                                                            @*<div class="subCategory collapse" id="subCategory-fruits" aria-expanded="true" role="status">

                                                                    <div class="cateTitle">
                                                                        <a href="/product/@product.UrlParam" class="cateItem">@product.Title</a>
                                                                    </div>


                                                                </div>*@
                                                        </div>
                                                        }

                                                </div>
                                            </div>
                                            }
                                        </div>
                                    </div>

                                </div>
                                <div class="col-sm-8 col-lg-9 col-md-9">
                                    <div class="main-product-detail">
                                        <h2>@Model.Product.Title</h2>
                                        <div class="product-single row">
                                            <div class="product-info col-xs-12 col-md-7 col-sm-7">
                                                <div class="detail-description">
                                                    <div class="price-del">
                                                        <span class="price" id="price">@string.Format("{0:n0}", Model.Product.Amount) تومان</span>
                                                        <span class="float-left">
                                                            @*<span class="availb">موجود: </span>*@
                                                            <span class="check">
                                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>موجود
                                                            </span>
                                                        </span>
                                                    </div>
                                                    <p class="description">
                                                        @Model.Product.ProductGroup.Title
                                                    </p>
                                                    <div class="option has-border d-lg-flex size-color">

                                                        <div class="colors">
                                                            <b class="title">رنگ : </b>

                                                            @foreach (var color in Model.Colors)
                                                            {
                                                               <img src="@color.Color.ImageUrl" width="15" id="color_@color.Id" onclick="ChangeColor('@Model.Product.Amount','@color.Amount','@color.Id');" />
                                                            }

                                                        </div>
                                                    </div>
                                                    @if (Model.Product.HasExtra == true)
                                                    {
                                                        <div class="option has-border d-lg-flex size-color">

                                                            
                                                               <a href="#">جهت انتخاب تشک <span class="blue">اینجا</span> را کلیک کنید</a>

                                                            
                                                        </div>
                                                    }
                                                    <div class="has-border cart-area">
                                                        <div class="product-quantity">
                                                            <div class="qty">
                                                                <div class="input-group">
                                                                    <div class="quantity">
                                                                        <span class="control-label">تعداد : </span>
                                                                        <input type="text" name="qty" id="qty" value="1" class="input-group form-control" >

                                                                        @*<span class="input-group-btn-vertical">
                                                                                <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-up" type="button">
                                                                                    +
                                                                                </button>
                                                                                <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-down" type="button">
                                                                                    -
                                                                                </button>
                                                                            </span>*@
                                                                    </div>
                                                                    <span class="add">
                                                                        <button class="btn btn-primary add-to-cart add-item" data-button-action="add-to-cart" type="submit" onclick="addToBasket(@Model.Product.Code);">
                                                                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                            <span>افزودن به سبد خرید</span>
                                                                        </button>
                                                                        <a class="addToWishlist" href="#">
                                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                                        </a>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                        <p class="product-minimal-quantity">
                                                        </p>
                                                    </div>
                                                    <div class="d-flex2 has-border">
                                                        <div class="btn-group">
                                                            <a href="#">
                                                                <i class="zmdi zmdi-share"></i>
                                                                <span>اشتراک گذاری</span>
                                                            </a>
                                                            <a href="#" class="email">
                                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                                                <span>ارسال ایمیل</span>
                                                            </a>
                                                            <a href="#" class="print">
                                                                <i class="zmdi zmdi-print"></i>
                                                                <span>پرینت</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="rating-comment has-border d-flex">
                                                        <div class="review-description d-flex">
                                                            <span>REVIEW :</span>
                                                            <div class="rating">
                                                                <div class="star-content">
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                    <div class="star"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="read after-has-border">
                                                            <a href="#review">
                                                                <i class="fa fa-commenting-o color" aria-hidden="true"></i>
                                                                <span>نظر (@Model.Comments.Count())</span>
                                                            </a>
                                                        </div>
                                                        <div class="apen after-has-border">
                                                            <a href="#review">
                                                                <i class="fa fa-pencil color" aria-hidden="true"></i>
                                                                <span>افزودن نظر</span>
                                                            </a>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="product-detail col-xs-12 col-md-5 col-sm-5">
                                                <div class="page-content" id="content">
                                                    <div class="images-container">
                                                        <div class="js-qv-mask mask tab-content border">
                                                            <div id="item1" class="tab-pane fade active in show">
                                                                <img src="@Model.Product.ImageUrl" alt="img">
                                                            </div>
                                                            @foreach (var image in Model.Images)
                                                            {
                                                                <div id="@image.Id" class="tab-pane fade">
                                                                    <img src="@image.ImageUrl" alt="img">
                                                                </div>
                                                            }
                                                            <div class="layer hidden-sm-down" data-toggle="modal" data-target="#product-modal">
                                                                <i class="fa fa-expand"></i>
                                                            </div>
                                                        </div>
                                                        <ul class="product-tab nav nav-tabs d-flex">
                                                            <li class="active col">
                                                                <a href="#item1" data-toggle="tab" aria-expanded="true" class="active show">
                                                                    <img src="@Model.Product.ImageUrl" alt="img">
                                                                </a>
                                                            </li>
                                                            @foreach (var image in Model.Images)
                                                            {
                                                                <li class="col">
                                                                    <a href="#@image.Id" data-toggle="tab">
                                                                        <img src="@image.ThumbImageUrl" alt="img">
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>
                                                        <div class="modal fade" id="product-modal" role="dialog">
                                                            <div class="modal-dialog">

                                                                <!-- Modal content-->
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <div class="modal-body">
                                                                            <div class="product-detail">
                                                                                <div>
                                                                                    <div class="images-container">
                                                                                        <div class="js-qv-mask mask tab-content">
                                                                                            <div id="modal-item1" class="tab-pane fade active in show">
                                                                                                <img src="@Model.Product.ImageUrl" alt="img">
                                                                                            </div>
                                                                                            @foreach (var image in Model.Images)
                                                                                            {
                                                                                                <div id="modal-@image.Id" class="tab-pane fade">
                                                                                                    <img src="@image.ImageUrl" alt="img">
                                                                                                </div>

                                                                                            }
                                                                                        </div>
                                                                                        <ul class="product-tab nav nav-tabs">
                                                                                            <li class="active">
                                                                                                <a href="#modal-item1" data-toggle="tab" class=" active show">
                                                                                                    <img src="@Model.Product.ImageUrl" alt="img">
                                                                                                </a>
                                                                                            </li>
                                                                                            @foreach (var image in Model.Images)
                                                                                            {
                                                                                                <li>
                                                                                                    <a href="#modal-@image.Id" data-toggle="tab">
                                                                                                        <img src="@image.ImageUrl" alt="img">
                                                                                                    </a>
                                                                                                </li>

                                                                                            }
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="review">
                                            <ul class="nav nav-tabs">
                                                <li class="active">
                                                    <a data-toggle="tab" href="#description" class="active show">توضیحات</a>
                                                </li>

                                                <li>
                                                    <a data-toggle="tab" href="#review">نظرات (2)</a>
                                                </li>
                                            </ul>

                                            <div class="tab-content">
                                                <div id="description" class="tab-pane fade in active show">
                                                    <p>
                                                        @Html.Raw(Model.Product.Body)
                                                    </p>

                                                </div>

                                                <div id="review" class="tab-pane fade">
                                                    <div class="spr-form">
                                                        <div class="user-comment">
                                                            @foreach (var comment in Model.Comments)
                                                            {
                                                                <div class="spr-review">
                                                                    <div class="spr-review-header">
                                                                        <span class="spr-review-header-byline">
                                                                            <strong>@comment.Name</strong> -
                                                                            <span>@comment.CreationDate.ToShortDateString()</span>
                                                                        </span>
                                                                        <div class="rating">
                                                                            <div class="star-content">
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="spr-review-content">
                                                                        <p class="spr-review-content-body">
                                                                            @Html.Raw(comment.Message)
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                    <form method="post" action="index.html" class="new-review-form">
                                                        <input type="hidden" name="review[rating]" value="3">
                                                        <input type="hidden" name="product_id">
                                                        <h3 class="spr-form-title">ارسال نظر</h3>
                                                        <fieldset>
                                                            <div class="spr-form-review-rating">
                                                                <label class="spr-form-label">نظر شما</label>
                                                                <fieldset class="ratings">
                                                                    <input type="radio" id="star5" name="rating" value="5" />
                                                                    <label class="full" for="star5" title="Awesome - 5 stars"></label>
                                                                    <input type="radio" id="star4half" name="rating" value="4 and a half" />
                                                                    <input type="radio" id="star4" name="rating" value="4" />
                                                                    <label class="full" for="star4" title="Pretty good - 4 stars"></label>
                                                                    <input type="radio" id="star3half" name="rating" value="3 and a half" />
                                                                    <input type="radio" id="star3" name="rating" value="3" />
                                                                    <label class="full" for="star3" title="Meh - 3 stars"></label>
                                                                    <input type="radio" id="star2half" name="rating" value="2 and a half" />
                                                                    <input type="radio" id="star2" name="rating" value="2" />
                                                                    <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
                                                                    <input type="radio" id="star1half" name="rating" value="1 and a half" />
                                                                    <input type="radio" id="star1" name="rating" value="1" />
                                                                    <label class="full" for="star1" title="Sucks big time - 1 star"></label>
                                                                    <input type="radio" id="starhalf" name="rating" value="half" />
                                                                </fieldset>
                                                            </div>
                                                        </fieldset>
                                                        <fieldset class="spr-form-contact">
                                                            <div class="spr-form-contact-name">
                                                                <input class="spr-form-input spr-form-input-text form-control" value="" placeholder="نام و نام خانوادگی">
                                                            </div>
                                                            <div class="spr-form-contact-email">
                                                                <input class="spr-form-input spr-form-input-email form-control" value="" placeholder="ایمیل">
                                                            </div>
                                                        </fieldset>
                                                        <fieldset>
                                                            <div class="spr-form-review-body">
                                                                <div class="spr-form-input">
                                                                    <textarea class="spr-form-input-textarea" rows="10" placeholder="پیغام"></textarea>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <div class="submit">
                                                            <input type="submit" name="addComment" id="submitComment" class="btn btn-default" value="ارسال نظر">
                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="related">
                                            <div class="title-tab-content  text-center">
                                                <div class="title-product justify-content-start">
                                                    <h2>محصولات مرتبط</h2>
                                                </div>
                                            </div>
                                            <div class="tab-content">
                                                <div class="row">
                                                    @foreach (var product in Model.Related)
                                                    {
                                                        <div class="item text-center col-md-4">
                                                            <div class="product-miniature js-product-miniature item-one first-item">
                                                                <div class="thumbnail-container border border">
                                                                    <a href="/product/@product.UrlParam">
                                                                        <img class="img-fluid image-cover" src="/Images/Product/10.jpg" alt="img">
                                                                        <img class="img-fluid image-secondary" src="/Images/Product/11.jpg" alt="img">
                                                                    </a>
                                                                    <div class="highlighted-informations">
                                                                        <div class="variant-links">
                                                                            <a href="#" class="color beige" title="Beige"></a>
                                                                            <a href="#" class="color orange" title="Orange"></a>
                                                                            <a href="#" class="color green" title="Green"></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="product-description">
                                                                    <div class="product-groups">
                                                                        <div class="product-title">
                                                                            <a href="/product/@product.UrlParam">@product.Title</a>
                                                                        </div>
                                                                        <div class="rating">
                                                                            <div class="star-content">
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                                <div class="star"></div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-group-price">
                                                                            <div class="product-price-and-shipping">
                                                                                <span class="price">@string.Format("{0:n0}", Model.Product.Amount) تومان</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-buttons d-flex justify-content-center">
                                                                        <form action="index.html" method="post" class="formAddToCart">
                                                                            <a class="add-to-cart" href="#" data-button-action="add-to-cart">
                                                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                                            </a>
                                                                        </form>
                                                                        <a class="addToWishlist" href="#" data-rel="1" onclick="">
                                                                            <i class="fa fa-heart" aria-hidden="true"></i>
                                                                        </a>
                                                                        <a href="/product/@product.UrlParam" class="quick-view hidden-sm-down" data-link-action="quickview">
                                                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function addToBasket(code)
    {
        var qty = $('#qty').val();
        var productColorId = null;


        $("[id*=color]").each(function () {
            var valueCheckId = $(this).attr("id");
            var value = document.getElementById(valueCheckId);
            if (value.classList.contains("active-color"))
            {
                var colorId = valueCheckId.split('_');
                productColorId = colorId[1];
            }
        });
        var loc = "/cart?code=" + code + "&qty=" + qty + "&color=" + productColorId;
        window.location = loc;
    }
</script>