@model IEnumerable<Models.Order>

@{
    ViewBag.Title = "فهرست ";

    Layout = "~/Views/Shared/BackEnd/_BackEndLayout.cshtml";
}

<h2>@ViewBag.Title</h2>

@(Html.Kendo().Grid(Model)
        .Name("Grid")
        .Columns(columns =>
        {
        columns.Bound(model => model.City.Title);
        columns.Bound(model => model.DiscountCode.Code);
        columns.Bound(model => model.OrderStatus.Title);
        columns.Bound(model => model.Code);
        columns.Bound(model => model.Address);
        columns.Bound(model => model.TotalAmount);
        columns.Bound(model => model.IsPaid);
        columns.Bound(model => model.ShippingAmount);
        columns.Bound(model => model.SubTotal);
        columns.Bound(model => model.DiscountAmount);
        columns.Bound(model => model.PaymentDate);
        columns.Bound(model => model.IsActive);
        columns.Bound(model => model.CreationDate);
        columns.Bound(item => @item.Id).Title("دستورات").Filterable(false).Groupable(false)
                      .Template(@<text>
                @Html.ActionLink("ویرایش", "Edit", new { id = @item.Id }, new { @class = "k-button" })
                @Html.ActionLink("حذف", "Delete", new { id = @item.Id }, new { @class = "k-button" })
                @Html.ActionLink("جزییات", "Index", "OrderDetails", new { id = @item.Id }, new { @class = "k-button" })
                    </text>).Width(200);
        })
        .ToolBar(toolbar =>
        {
            toolbar.Custom().Action("Create", "Orders").Text("افزودن");
        }
        )
        .DataSource(dataSource => dataSource
                                    .Server()

                                    .Model(model => model.Id(item => item.Id))
                    )
)
