@model ViewModels.BaseViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>هوگر اولین تولید کننده مبلمان باغی، ویلایی، فضای باز و تراس</title>

    <meta name="keywords" content="Furniture, Decor, Interior">
    <meta name="description" content="Furnitica - Minimalist Furniture HTML Template">
    <meta name="author" content="tivatheme">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/Content/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/libs/font-material/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/Content/libs/nivo-slider/css/nivo-slider.css">
    <link rel="stylesheet" href="/Content/libs/nivo-slider/css/animate.css">
    <link rel="stylesheet" href="/Content/libs/nivo-slider/css/style.css">
    <link rel="stylesheet" href="/Content/libs/owl-carousel/assets/owl.carousel.min.css">

    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="/Content/css/style.css">
    <link rel="stylesheet" type="text/css" href="/Content/css/reponsive.css">
    <link href="~/Content/css/style-rtl.css" rel="stylesheet" />
</head>
<body id="@ViewBag.PageId" class="blog @ViewBag.BodyClass">
   @Html.Partial("FrontEnd/_MenuPartial")
    @RenderBody()
    @Html.Partial("FrontEnd/_FooterPartial")

    <script src="/Content/libs/jquery/jquery.min.js"></script>
    <script src="/Content/libs/popper/popper.min.js"></script>
    <script src="/Content/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Content/libs/nivo-slider/js/jquery.nivo.slider.js"></script>
    <script src="/Content/libs/owl-carousel/owl.carousel.min.js"></script>

    <!-- Template JS -->
    <script src="/Content/js/theme.js"></script>
    <script src="~/Scripts/custom.js"></script>
</body>
</html>
