@model ViewModels.CartViewModel
@{
   Layout = "~/Views/Shared/FrontEnd/_FrontEndLayout.cshtml";
}

<div class="main-content" id="cart">
    <!-- main -->
    <div id="wrapper-site">
        <!-- breadcrumb -->
        <nav class="breadcrumb-bg">
            <div class="container no-index">
                <div class="breadcrumb">
                    <ol>
                        <li>
                            <a href="/">
                                <span>صفحه اصلی</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>سبد خرید</span>
                            </a>
                        </li>
                    </ol>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div id="content-wrapper" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 onecol">
                    <section id="main">
                        <div class="cart-grid row">
                            <div class="cart-grid-right col-xs-12 col-lg-3">
                                <div class="cart-summary">
                                    <div class="cart-detailed-totals">
                                        <div class="cart-summary-products">
                                            <div class="summary-label">@Model.Products.Count() محصول در سبد خرید شما موجود است</div>
                                        </div>
                                        <div class="cart-summary-line" id="cart-subtotal-products">
                                            <span class="label js-subtotal">
                                               مبلغ کل:
                                            </span>
                                            <span class="value">@Model.SubTotal</span>
                                        </div>
                                        <div class="cart-summary-line" id="cart-subtotal-shipping">
                                            <span class="label">
                                                هزینه ارسال:
                                            </span>
                                            <span class="value">@Model.ShippingAmount</span>
                                            <div>
                                                <small class="value"></small>
                                            </div>
                                        </div>
                                        <div class="cart-summary-line cart-total">
                                            <span class="label">مبلغ قابل پرداخت:</span>
                                            <span class="value">@Model.Total</span>
                                        </div>
                                    </div>
                                </div>
                                @*<div id="block-reassurance">
                                    <ul>
                                        <li>
                                            <div class="block-reassurance-item">
                                                <img src="img/product/check1.png" alt="Security policy (edit with Customer reassurance module)">
                                                <span>Security policy (edit with Customer reassurance module)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="block-reassurance-item">
                                                <img src="img/product/check2.png" alt="Delivery policy (edit with Customer reassurance module)">
                                                <span>Delivery policy (edit with Customer reassurance module)</span>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="block-reassurance-item">
                                                <img src="img/product/check3.png" alt="Return policy (edit with Customer reassurance module)">
                                                <span>Return policy (edit with Customer reassurance module)</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>*@
                            </div>
                            <div class="col-md-9 col-xs-12 check-info">
                                <h1 class="title-page text-right">سبد خرید</h1>
                                <div class="cart-container">
                                    <div class="cart-overview js-cart">
                                        <ul class="cart-items">
                                            @foreach (var order in Model.Products)
                                            {
                                            <li class="cart-item">
                                                <div class="product-line-grid row justify-content-between">
                                                    <!--  product left content: image-->
                                                    <div class="product-line-grid-left col-md-2">
                                                        <span class="product-image media-middle">
                                                            <a href="product-detail.html">
                                                                <img class="img-fluid" src="@order.Product.ImageUrl" alt="Organic Strawberry Fruits">
                                                            </a>
                                                        </span>
                                                    </div>
                                                    <div class="product-line-grid-body col-md-5">
                                                        <div class="product-line-info">
                                                            <a class="label" href="/product/@order.Product.UrlParam" data-id_customization="0">@order.Product.Title</a>
                                                        </div>
                                                        <div class="product-line-info product-price">
                                                            <span class="value">@order.Quantity</span>
                                                        </div>
                                                        <div class="product-line-info">
                                                            <span class="label-atrr">رنگ:</span>
                                                            <span class="value">@order.Color</span>
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="product-line-grid-right text-center product-line-actions col-md-5">
                                                        <div class="row">
                                                            <div class="col-md-4 col qty">
                                                                <div class="label">تعداد:</div>
                                                                <div class="quantity">
                                                                    <input type="text" name="qty" value="@order.Quantity" class="input-group form-control">

                                                                    <span class="input-group-btn-vertical">
                                                                        <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-up" type="button">
                                                                            +
                                                                        </button>
                                                                        <button class="btn btn-touchspin js-touchspin bootstrap-touchspin-down" type="button">
                                                                            -
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6 col price">
                                                                <div class="label">مبلغ کل:</div>
                                                                <div class="product-price total">
                                                                   @string.Format("{0:n0}", order.Product.Amount) تومان
                                                                </div>
                                                            </div>
                                                            <div class="col-md-2 col text-xs-right align-self-end">
                                                                <div class="cart-line-product-actions ">
                                                                    <a class="remove-from-cart" rel="nofollow" href="#" data-link-action="delete-from-cart" data-id-product="1" onclick="RemoveFromBasket(@order.Product.Code);">
                                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                               
                            </div>
                         
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function RemoveFromBasket(code)
    {
        var loc = "Basket/remove?code=" + code ;
        window.location = loc;
    }
</script>